<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Products</title>
</head>

<body>
  <h1>All Products!</h1>
  <ul>
    <% for(let product of Products) { %>
      <li><a href="/products/<%= product._id %>">
          <%= product.name %>
        </a></li>
      <% } %>
  </ul>

  <button type="button">
    <a href="/">Back</a>
  </button>
  <button type="button">
    <a href="~//new.ejs">Add Product</a>
  </button>

</body>

</html>